<div class="flex flex-col justify-center items-center gap-4">
    <div class="flex flex-col w-full items-center">
        <h2 class="font-bold text-4xl">Todos tus sueños</h2>
        <h2 class="font-bold text-4xl" style="color: var(--red-color);"><i>En un solo lugar</i></h2>
        <p class="text-gray-600 mt-4">Te invitamos a revisar nuestro amplio catalogo de propiedades disponibles para ti</p>
    </div>
    <button class="flex items-center gap-2 text-lg text-white bg-black/80 px-6 py-3 rounded-lg hover:bg-black duration-300 cursor-pointer">Ver más propiedades
        <i class="pi pi-angle-right"></i>
    </button>
</div>
