<div class="absolute top-2/6 w-full flex flex-col gap-10 justify-center items-center z-10">

    <h1 class="text-6xl text-white"><i>!Busca tu proximo hogar!</i></h1>

    <form action="" class="glass">

        <div class="flex w-full gap-3 justify-between">
            <select name="Tipo de inmueble" id="">
                <option value="" selected>Tipo de inmueble</option>
            </select>
            <input type="text" placeholder="Ciudad">
            <input type="text" placeholder="Codigo">

            <button class="w-[70%] box-border text-white cursor-pointer rounded-xl" style="background-color: #050505;">Buscar</button>
        </div>
    </form>
</div>
